body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background: #f7f4ff;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.card {
  background: white;

  width: 320px;

  padding: 30px;

  border-radius: 25px;

  text-align: center;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h1 {
  color: #7b5cff;
}

.subtitle {
  color: #777;
}

h2 {
  font-size: 32px;
  margin: 20px 0;
}

#done-btn {
  background: #7b5cff;
  color: white;

  border: none;

  padding: 14px 20px;

  border-radius: 15px;

  cursor: pointer;

  font-size: 16px;
}

.buttons {
  margin-top: 25px;

  display: flex;
  gap: 10px;

  justify-content: center;
}

.type-btn {
  border: none;

  padding: 12px 16px;

  border-radius: 12px;

  cursor: pointer;

  background: #eee;

  font-size: 16px;
}

#config-btn {
  margin-top: 20px;

  border: none;

  padding: 12px 18px;

  border-radius: 12px;

  cursor: pointer;

  background: #ece7ff;
}

.hidden {
  display: none;
}

#config-panel {
  margin-top: 20px;

  text-align: left;
}

.week-buttons {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;

  margin-bottom: 15px;
}

.day-btn {
  border: none;

  padding: 10px;

  border-radius: 10px;

  cursor: pointer;

  background: #eee;
}

.day-btn.active {
  background: #7b5cff;
  color: white;
}

#sequence-input {
  width: 100%;

  padding: 12px;

  border-radius: 10px;

  border: 1px solid #ddd;

  margin-bottom: 15px;

  box-sizing: border-box;
}

#save-config {
  width: 100%;

  border: none;

  padding: 14px;

  border-radius: 12px;

  background: #7b5cff;

  color: white;

  cursor: pointer;
}
